@import url(reset.css);
@import url(fonts.css);

:root {
  --font-Roboto: "Roboto", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-Glacial: "Glacial Indifference", sans-serif;
  --font-Montserrat: "Montserrat", sans-serif;
  --font-Muli: "Muli", sans-serif;
  --font-Jaapokki: "Jaapokki", sans-serif;

  --fs-header-primary: clamp(2.188rem, 5vw + 1rem, 4.5rem);
  --fs-header-secondary: clamp(1.5rem, 3vw + 0.5rem, 2.5rem);
  --fs-header-fixed: 1.25rem;
  --fs-article: 0.938rem;
  --fs-small: 0.625rem;

  --clr-dark-blue: rgb(21, 38, 62);
  --clr-blue-bg: rgb(19, 26, 54);
  --clr-pink: rgb(233, 54, 86);
  --clr-review: rgb(185, 118, 121);
  --clr-green: rgb(0, 128, 0);
  --clr-dark-yellow: rgb(218, 174, 25);
  --clr-light-blue: rgb(0, 129, 255);
  --clr-progress-bg: rgb(240, 240, 240);

  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
  --clr-grey: rgb(179, 179, 179);
}

.about {
  background-color: var(--clr-dark-blue);
}

.info__box {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.info__svg {
  padding: 2rem;
  border-radius: 50%;
  outline: dashed 2px var(--clr-white);
  transition: outline-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  cursor: pointer;
}

.info__svg:hover {
  background-color: var(--clr-pink);
  outline: dashed 2px rgba(255, 255, 255, 0);
  outline-color: transparent;
}

.info__svg svg {
  width: 24px;
  aspect-ratio: 1;
}

.contact__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 3.75rem;
}

.info__content {
  display: grid;
  gap: 1rem;
  color: var(--clr-white);
}

.contact__info--title {
  font-family: var(--font-Glacial);
  font-size: var(--fs-header-fixed);
}

.info__contact {
  font-family: var(--font-Muli);
  font-size: var(--fs-article);
  color: var(--clr-grey);

  display: grid;
  gap: 0.3rem;
}

@media (max-width: 768px) {
  .contact__info {
    flex-direction: column;
    gap: 5rem;
  }
  .info__box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* Service Cards */

.services__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.service__card {
  perspective: 1000px;
}

.card__inner {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 5;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.service__card:hover .card__inner {
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.card__front {
  background: #fff;
  border: 1px solid #e5e7eb;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.card__front img {
  max-width: 60px;
  aspect-ratio: 1;
  justify-self: center;
}

.card__back {
  background: var(--clr-blue-bg);
  color: #fff;
  transform: rotateY(180deg);
  text-align: center;
}

.card__front--title {
  color: var(--clr-black);
  font-size: var(--fs-header-fixed);
  font-family: var(--font-Glacial);
  margin-top: 1rem;

  text-transform: capitalize;
}

.card__back--title {
  color: var(--clr-white);
  font-size: var(--fs-header-fixed);
  font-family: var(--font-Glacial);
  margin-bottom: 1rem;
}

.card__back--text {
  font-family: var(--font-Muli);
  font-weight: 100;
  font-size: var(--fs-article);
  color: var(--clr-white);
}
